################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Automatic Program/obj
/Automatic Program/bin
/.vs
/Automatic Program/.vs
